@page "/cart"


@inject NavigationManager NavManager

<MudPaper Height="800px" Style="overflow:hidden; position:relative;">
    <MudDrawerContainer Class="mud-height-full">
        <MudDrawer Open=true Elevation="0" Variant="@DrawerVariant.Persistent" Style="background: #4b6cb7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #182848, #4b6cb7);
">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6" Class="px-4 text-white ">PC NET</MudText>

            </MudDrawerHeader>
            <MudNavMenu Class="mud-width-full text-white " Style="margin: 0; padding: 0; height:100%;">
                <MudNavLink href="profile1" Icon="@Icons.Material.Filled.Dashboard" IconColor="Color.Info">Dashboard</MudNavLink>
                <MudNavLink href="cart" Icon="@Icons.Material.Filled.AddShoppingCart" IconColor="Color.Info">Cart</MudNavLink>
                

                <MudNavGroup Title="User Setting" Icon="@Icons.Material.Filled.AdminPanelSettings" Expanded="true">
                    <MudNavLink @onclick="@(()=>logOutUser(userID))" Icon="@Icons.Material.Filled.Logout">LogOut</MudNavLink>
                </MudNavGroup>
            </MudNavMenu>
        </MudDrawer>
        <MudGrid>
            <MudItem xs="12" sm="12" md="12" lg="12" xl="12" Class="d-flex justify-content-center">
                <MudPaper Class="d-flex flex-column justify-content-center align-items-center mud-width-full py-3"
                          Style="background: #00416A;  /* fallback for old browsers */
                             background: -webkit-linear-gradient(to top, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
                             background: linear-gradient(to top, #E4E5E6, #00416A);">
                    <h3 class="text-center">Welcome to Pc NET Computers</h3>
                </MudPaper>
            </MudItem>
            <MudGrid Style="margin-left: 10px; margin-top: 10px">
                
                <h6>Not Implement yet</h6>
                @*Keyframes by https://animate.style/*@
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
                <style type="text/css">

                    .bounceIn {
                        opacity: 0;
                        animation-delay: 0.5s;
                        animation-duration: 0.5s;
                        animation-name: bounceIn;
                        animation-fill-mode: forwards;
                    }

                    .bounceOut {
                        animation-duration: 0.5s;
                        animation-name: bounceOut;
                        animation-fill-mode: forwards;
                    }

                    .backInDown {
                        opacity: 0;
                        animation-delay: 0.5s;
                        animation-duration: 0.5s;
                        animation-name: backInDown;
                        animation-fill-mode: forwards;
                    }

                    .backOutDown {
                        animation-duration: 0.5s;
                        animation-name: backOutDown;
                        animation-fill-mode: forwards;
                    }

                    .rotateIn {
                        opacity: 0;
                        animation-delay: 0.5s;
                        animation-duration: 0.5s;
                        animation-name: rotateIn;
                        animation-fill-mode: forwards;
                    }

                    .rotateOut {
                        animation-duration: 0.5s;
                        animation-name: rotateOut;
                        animation-fill-mode: forwards;
                    }
                </style>

                <MudCarousel Class="mud-width-full" Style="height:200px;" TData="object" AutoCycle="false">
                    
                    
                </MudCarousel>
            </MudGrid>
           




        </MudGrid>

    </MudDrawerContainer>
</MudPaper>

@code {
    [Parameter]
    public int userID { get; set; }
    private void logOutUser(int UserID)
    {
        NavManager.NavigateTo("/");

    }
}
